.decade-box {
	height: 100px;
	background: rgba(255,221,15,0.9);
	width: 100%;

	h2 {
		font-size: 3rem;
		padding: 3rem 1.25rem 0;
		color: white;
	}

}

.right-panel-text-box {
	background: rgba(255,255,255, 0.75);
	padding: 1.25rem 0 1.25rem 1.5rem;
	p { 
		color: $white;
		text-decoration: none;
	}
	p:hover {
		text-decoration: none;
	}
}

// 1960
#decade-60{
	// background-image: url('https://s13.postimg.org/5657no9lz/decade-70-v3.png');
	background-image: url('https://s13.postimg.org/h5gpv7s47/decade-1960-v2.png');
	
	background-size: cover;

	.col-sm-4, .col-xs-6, .col-sm-8 {
		padding: 0;
	}

	.decade-box {
		width: 620px;
		.right-panel-text-box {
		    background: rgba(255, 255, 255, 0.75);
		    padding: 1.25rem 0 1.25rem 1.5rem;
		    p { 
		    	color: $white;
		    }
		}
	}
}

// 1970
#decade-70{
	// background-image: url('https://s13.postimg.org/ilil29eon/rkf-img-chavez_copy.jpg');
	background-image: url('https://s13.postimg.org/uz52k22nb/decade-1970-v2.png');
	background-size: cover;

	.col-sm-4, .col-xs-6, .col-sm-8 {
		padding: 0;
	}

	.decade-left-panel {
		.decade-box {
			height: 100px;
			width: 620px;
			margin-left: -95px;
			background: $ccc-black;
			h2 {
				color: white;
				text-align: right;
			}
		}
	}
}

#decade-80 {
	background-image: url('https://s13.postimg.org/ij8cqirdj/decade-1980-reagan.png');
	background-size: cover;

	.col-sm-4, .col-xs-6, .col-sm-8 {
		padding: 0;
	}

	.decade-box {
		width: 620px;
	}
}

// 1990
#decade-90{
	// background-image: url('https://s13.postimg.org/ilil29eon/rkf-img-chavez_copy.jpg');
	background-image: url('https://s13.postimg.org/eqouacwbb/decade-1990-v2.png');
	background-size: cover;

	.col-sm-4, .col-xs-6, .col-sm-8 {
		padding: 0;
	}

	.decade-left-panel {
		.decade-box {
			height: 100px;
			width: 620px;
			margin-left: -95px;
			background: $ccc-black;
			h2 {
				color: white;
				text-align: right;
			}
		}
	}

	.right-panel-text-box {
		background: rgba(255,255,255, 0.5);
		padding: 1.25rem 0 1.25rem 1.5rem;
	}
}

#decade-2000 {
	background-image: url('https://s13.postimg.org/8zy7dnkcn/decade-1990.jpg');
	background-size: cover;

	.col-sm-4, .col-xs-6, .col-sm-8 {
		padding: 0;
	}

	.decade-box {
		width: 620px;
	}
}

#decade-2010{
	background-image: url('https://s13.postimg.org/knspr8y1j/decade-2010-immigration.png');
	background-size: cover;

	.col-sm-4, .col-xs-6, .col-sm-8 {
		padding: 0;
	}

	.decade-left-panel {
		.decade-box {
			height: 100px;
			width: 620px;
			margin-left: -95px;
			background: $ccc-black;
			h2 {
				color: white;
				text-align: right;
			}
		}
	}

	.right-panel-text-box {
		background: rgba(255,255,255, 0.5);
		padding: 1.25rem 0 1.25rem 1.5rem;
	}
}

// .tilecaption{
//     position: relative;
//     top: 50%;
//     transform: translateY(-50%);
//     -webkit-transform: translateY(-50%);
//     -ms-transform: translateY(-50%); 
//     margin:0!important;
//     text-align: center;
//     color:white;
//     font-family: Segoe UI;
//     font-weight: lighter;
// }


