#decade-60 {
  background-image: url("https://s13.postimg.org/pq0ebjeav/rkf-img-chavez-gradiant.jpg");
  background-size: cover; }
  #decade-60 .col-sm-4, #decade-60 .col-xs-6, #decade-60 .col-sm-8 {
    padding: 0; }
  #decade-60 .decade-box {
    width: 620px; }

#decade-70 {
  background-image: url("https://s13.postimg.org/ynppmg8xj/decade-90.jpg");
  background-size: cover; }
  #decade-70 .col-sm-4, #decade-70 .col-xs-6, #decade-70 .col-sm-8 {
    padding: 0; }
  #decade-70 .decade-left-panel .decade-box {
    height: 100px;
    width: 620px;
    margin-left: -95px;
    background: #231f20; }
    #decade-70 .decade-left-panel .decade-box h2 {
      color: white;
      text-align: right; }

#decade-80 {
  background-image: url("https://s13.postimg.org/6q5hp8ec7/decade-80.png");
  background-size: cover; }
  #decade-80 .col-sm-4, #decade-80 .col-xs-6, #decade-80 .col-sm-8 {
    padding: 0; }
  #decade-80 .decade-box {
    width: 620px; }

#decade-90 {
  background-image: url("https://s13.postimg.org/8zy7dnkcn/decade-1990.jpg");
  background-size: cover; }
  #decade-90 .col-sm-4, #decade-90 .col-xs-6, #decade-90 .col-sm-8 {
    padding: 0; }
  #decade-90 .decade-left-panel .decade-box {
    height: 100px;
    width: 620px;
    margin-left: -95px;
    background: #231f20; }
    #decade-90 .decade-left-panel .decade-box h2 {
      color: white;
      text-align: right; }
  #decade-90 .right-panel-text-box {
    background: rgba(255, 255, 255, 0.85);
    padding: 1.25rem 0 1.25rem 1.5rem; }

.tilecaption {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  margin: 0 !important;
  text-align: center;
  color: white;
  font-family: Segoe UI;
  font-weight: lighter; }

.decade-box {
  height: 100px;
  background: rgba(255, 221, 15, 0.9);
  width: 100%; }
  .decade-box h2 {
    font-size: 3rem;
    padding: 3rem 1.25rem 0; }

.right-panel-text-box {
  background: rgba(255, 255, 255, 0.45);
  padding: 1.25rem 0 1.25rem 1.5rem; }
